// Do my imports
require('./${version}/globals.js');

var express = require('express');  
var app = express();

var server = require('http').createServer(app);
var mongoose = require('mongoose');
var config = require('./config.js')(app, express, mongoose);
var moment = require('moment');


// Set up models
var models = {};
models = require('./${version}/models/models')(mongoose);
require('./${version}/models/testdata1')(mongoose, models, moment);
require('./${version}/routes/routes')(app, mongoose, models);

// Entry pages
app.get('/', function(req, res){
  res.sendfile(__dirname + '/public/index.html');
});

// Schema Entry page
app.get(globalAppRootUrl, function(req, res){
  res.sendfile(__dirname + '/public/index.html');
});

// Merge kue API into our own.
var getAPI = app.routes.get;

// API demo page
app.get(globalAppRootUrl + '/Api', function(req, res){
  res.header('Access-Control-Allow-Origin', '*');
  var paths = [];
  for (index = 0; index < app.routes.get.length; index++) {
     var route = {};
     route.URL = app.routes.get[index]['path'];
     paths.push(route);
  }
  res.json(paths);
});

console.log('app loaded!');
app.listen(process.env.PORT || 3000);
