module.exports = function(app, express, mongoose){

  var config = this;

  app.requireAuth = false;

  //generic config
  app.configure(function(){
  app.set('port', process.env.PORT || 3000);
  app.set('views', __dirname + '/${version}/views');
  app.set('view engine', 'jade');
  app.set('view options', {layout: false});
  app.use(express.favicon());
  app.use(express.logger('dev'));
  app.use(express.bodyParser());
  app.use(express.methodOverride());
  app.use(express.static(__dirname + '/public'));
  app.use(app.router);
  app.use(require('stylus').middleware(__dirname + '/public'));
  });

  //env specific config
  var hostname = 'http://localhost';

  if (process.env.SUBDOMAIN){
    hostname = 'http://' + process.env.SUBDOMAIN + '.jit.su/';
  }

  if (process.env.MONGOLAB_URI){    
     mongoose.connect(process.env.MONGOLAB_URI);
     console.log('MONGO DB  CONNECTED');
  } else {
     mongoose.connect('mongodb://localhost/AppA');
     console.log('LOCAL DB  CONNECTED');
  }

  return config;
};