extends layout

block content
    h1= titleGet
      #apisget
        - for (var i = 0; i < apisget.length; i++) {
           - var x = apisget[i].path;                
                ol
                   h4     
                     a(href="/${version}/Api/Current") #{x}
        - }