extends layout

block content
    h1= title
     - var count = 0
     #collectionName
     #collections
        - each collection in collections
             - count++
             ol
                  h4 #{count}
                     a(href=globalAppRootUrl + '/Schemas/#{collectionName}/#{collection._id}') #{collection._id}</u>
                     &nbsp;&nbsp; 
                     a(href=globalAppRootUrl + '/Schemas/delete/#{collectionName}/#{collection._id}') delete</u>
                       &nbsp;&nbsp; 
                     a(href=globalAppRootUrl + '/Schemas/#{collectionName}?query="mdnId:2"') #{collection._id}