module.exports = function(app, io, server, models, port) {

  server.listen(port);

  io.sockets.on('connection', function (socket) {
    socket.emit('news', { hello: 'world' });
    socket.on('my other event', function (data) {
      console.log(data);
    });
  });

console.log("socket assigned port = " + port);

app.get('/v2/Socket', function(req, res) {
  res.writeHead(200, {'Content-Type': 'text/html'});
  res.write('<html><body>');
  res.write('<script src="http://localhost:');
  res.write(port);
  res.write('/socket.io/socket.io.js"></script>');
  res.write('<script>');
  res.write('var socket = io.connect("http://localhost:');
  console.log('lport=' + port);
  res.write(port);
  res.write('");');
  //res.write('socket.on("news", function (data) {');
  //res.write('console.log(data);');
  //res.write('socket.emit("my other event", { my: "data" });');
  //res.write('});');
  res.write('</script>');  
  res.write('</body></html>');
  res.end();
});

}

