.firstGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 220px; 
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 220px; 
    height: 400px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.apiGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.tab { margin-left: 20px;
       margin-right: 40px;
}

.button { 
   float: left;
   width: 280px;
   margin-top: 10px;
   margin-left: 20px;
   margin-bottom: 10px;
}

.label {
   float: left;
   margin-left: 20px;
   width: 700px;
   margin-right: 20%;
}

.buttons {
   float: left;
   height: 100px;
}

.docLabel {
   float: left;
   margin-left: 10px;
   margin-top: 5px;
   font-weight: bold;
}