// Do my imports
var express = require('express');  
var app = express();

var server = require('http').createServer(app);
var mongoose = require('mongoose');
var config = require('./config.js')(app, express, mongoose);
var moment = require('moment');


// Set up models
var models = {};
models = require('./${version}/models/models')(mongoose);
require('./${version}/models/testdata1')(mongoose, models, moment);
require('./${version}/routes/routes')(app, mongoose, models);


// Set up queues
var kue = require('./${version}/queues/kue')(app, express, models);


// Entry pages
app.get('/', function(req, res){
  res.render('index.jade', {
    title: 'Model-Driven Node: Reference Implementation'
  });
});

// Schema Entry page
app.get('/${urlRoot}', function(req, res){
  res.render('index', {
    title: 'Model-Driven Node: Reference Implementation'
  });
});

// Aggregate my API
var getAPI = app.routes.get;
getAPI = getAPI.concat(kue.app.routes.get);

// API demo page
app.get('/${urlRoot}/Api', function(req, res){
  res.render('api.jade', {
    titleGet: 'REST GET API',
    titlePost: 'REST POST API',
    apisget: getAPI,
    apispost: app.routes.post
  });
});

console.log('app loaded!');
app.listen(process.env.PORT || 3000);
