// Do my imports
var express = require('express');  
var app = express();

var server = require('http').createServer(app)
  , io = require('socket.io').listen(server);

var config = require('./config.js')(app, express);
var moment = require('moment');


// Set up socket.io client
var portfinder = require('portfinder');
portfinder.getPort(function (err, port) {
  
  server.listen(port);

// Set up socketio
#foreach ($v in $versions)
  require('./${v}/sockets/socketserver')(app, io, models, port.toString());
#end
});


// Set up database connections
var mongoose = require('mongoose');

mongoose.createConnection('mongodb://nodejitsu:be4d8fdcd8f572b2cbea53acc213eae1@paulo.mongohq.com:10030/nodejitsudb430192188');
mongoose.createConnection('mongodb://nodejitsu:e24c1205f87356c25a2869715153e7bb@paulo.mongohq.com:10029/nodejitsudb96122706');

//mongoose.connect('mongodb://localhost/${schema}');


// Set up models
var models = {};
models = require('./${version}/models/models')(mongoose);
#foreach ($v in $versions)
require('./${v}/models/testdata1')(mongoose, models, moment);
require('./${v}/models/testdata2')(mongoose, models, moment);
require('./${v}/routes/routes')(app, mongoose, models);
#end


// Set up queues
var kue = require('./${version}/queues/kue')(models);


// Entry pages
app.get('/', function(req, res){
  res.render('index.jade', {
    title: 'Model-Driven Node: Reference Implementation'
  });
});

#foreach ($v in $versions)
// Schema Entry page
app.get('/${v}', function(req, res){
  res.render('index', {
    title: 'Model-Driven Node: Reference Implementation'
  });
});
#end

// API demo page
app.get('/${version}/Api/Current', function(req, res){
  res.render('api.jade', {
    titleGet: 'REST GET API',
    titlePost: 'REST POST API',
    apisget: app.routes.get,
    apispost: app.routes.post
  });
});

app.listen(process.env.PORT || 3000);
