module.exports = function(app, mongoose, models){

  /**
   *   Get all collections.
   */
  app.get(globalAppRootUrl + '/Schemas', function(req, res){

    var modelNames = mongoose.modelNames();
      
    res.render('models.jade', {
      title: modelNames.length + ' Generated Models for ${schema} Schema',
      models:modelNames
    });
  });
  
  
  /**
   *  Get all records in a collection.
   */
  app.get(globalAppRootUrl + '/Schemas/:collection', function(req, res){
    
    mongoose.model(req.params.collection).find({}, function(err, docs){
      
      res.render('collections.jade', {
            title: docs.length + ' Test Records for ' + req.params.collection,
            collectionName: req.params.collection,
            collections: docs
      });

    });

  });


 /**
   *  Get a subset of records in a collection.
   */
  app.get(globalAppRootUrl + '/Schemas/:collection?:query', function(req, res){
    
    console.log('query=' + req.param('query'));
    console.log('projection=' + req.params.projection);
      
    mongoose.model(req.params.collection).find(req.param('query'), {}, function(err, docs){
    
      res.render('collections.jade', {
            title: docs.length + ' Test Records for ' + req.params.collection,
            collectionName: req.params.collection,
            collections: docs
      });

    });

  });
  

  /**
   *  View one document in a collection.
   */
  app.get(globalAppRootUrl + '/Schemas/:collection/:id', function(req, res){
    
    mongoose.model(req.params.collection).findById(req.params.id, function(err, doc){
      
      res.render('doc.jade', {
            title: 'Test Record for ' + req.params.collection,
            doc: doc
      });

    });
  });  
  
  
   /**
   *  delete a document.  yes I know the verb thing.
   */ 
  app.get(globalAppRootUrl + '/Schemas/delete/:collection/:id', function(req, res){

    mongoose.model(req.params.collection).findById(req.params.id, function(err, doc){
         doc.remove();
         doc.save(function(err){
            console.log('error check');
            if(err) { throw err; }
            console.log('saved');
         });
         res.redirect('/');
     });
  });


/**
 *  Build list of collections with an object graph deeper than 3 (for now)
 */
  var graphs = new Array();
#set($recordId = 0)
#foreach ($entryPoint in $entryPoints)
  graphs[${recordId}] = '${entryPoint}';
#set($recordId = $recordId + 1)
#end

  function isObjectGraph(element, index, array) {
    for (var i = 0; i < graphs.length; i++) {
        if (element == graphs[i]) return true;
    } 
    return false;
  }

  /**
   *  Filtered index listing of collections
   */
  app.get(globalAppRootUrl + '/TopSchemas', function(req, res){

    //get all the examples
    var modelNames = mongoose.modelNames();
    modelNames = modelNames.filter(isObjectGraph);
       
    res.render('models.jade', {
      title: modelNames.length + ' Top-Level Models for ${schema} Schema',
      models: modelNames
    });
  });

};