var express = require('express');  
var app = express();

var config = require('./config.js')(app, express);
var moment = require('moment');

var mongooseAppA = require('mongoose');
var mongooseAppB = new mongooseAppA.Mongoose();

//mongooseAppA.connect('mongodb://nodejitsu:841d65d300bf52d33fac1970f4482e46@paulo.mongohq.com:10003/nodejitsudb7417266459');
//mongooseAppB.connect('mongodb://nodejitsu_broward:o015i6bnbq3trrs1mkav02m1qv@ds027718.mongolab.com:27718/nodejitsu_broward_nodejitsudb2848693635');

mongooseAppA.connect('mongodb://localhost/AppA');
mongooseAppB.connect('mongodb://localhost/AppB');
console.log('connected to nodejitsu');

var modelsAppB = {};
var modelsAppB = {};
modelsAppA = require('./models/AppAmodels')(mongooseAppA);
modelsAppB = require('./models/AppBmodels')(mongooseAppB);

require('./models/AppAtestdata')(mongooseAppA, modelsAppA, moment);
require('./models/AppBtestdata')(mongooseAppB, modelsAppB, moment);

require('./routes/AppAroutes')(app, mongooseAppA, modelsAppA);
require('./routes/AppBroutes')(app, mongooseAppB, modelsAppB);

// Entry page
  app.get('/', function(req, res){
      
    res.render('index', {
      title: 'Model-Driven Node: Reference Implementation'
    });
  });

// Entry page
  app.get('/api', function(req, res){
  
    console.log(app.routes.get);
      
    res.render('api.jade', {
      titleGet: 'REST GET API',
      titlePost: 'REST POST API',
      apisget: app.routes.get,
      apispost: app.routes.post
    });
  });

app.listen(process.env.PORT || 3000);