var express = require('express');  
var app = express();

var config = require('./config.js')(app, express);

var mongooseA = require('mongoose');
var mongooseB = new mongooseA.Mongoose();

mongooseA.connect('mongodb://nodejitsu:841d65d300bf52d33fac1970f4482e46@paulo.mongohq.com:10003/nodejitsudb7417266459');
mongooseB.connect('mongodb://nodejitsu_broward:o015i6bnbq3trrs1mkav02m1qv@ds027718.mongolab.com:27718/nodejitsu_broward_nodejitsudb2848693635');

//mongooseA.connect('mongodb://localhost/schemaA');
//mongooseB.connect('mongodb://localhost/schemaB');
console.log('connected to nodejitsu');

var modelsA = {};
var modelsB = {};
modelsA = require('./models/Amodels')(mongooseA);
modelsB = require('./models/Bmodels')(mongooseB);

require('./models/Atestdata')(mongooseA, modelsA);
require('./models/Btestdata')(mongooseB, modelsB);

require('./routes/Aroutes')(app, mongooseA, modelsA);
require('./routes/Broutes')(app, mongooseB, modelsB);

// Entry page
  app.get('/', function(req, res){
      
    res.render('index', {
      title: 'Model-Driven Node: Reference Implementation'
    });
  });

// Entry page
  app.get('/api', function(req, res){
  
    console.log(app.routes.get);
      
    res.render('api.jade', {
      titleGet: 'REST GET API',
      titlePost: 'REST POST API',
      apisget: app.routes.get,
      apispost: app.routes.post
    });
  });

app.listen(process.env.PORT || 3000);