// Create a test record for each schema
#foreach ($schema in $resource.schemas)
var ${schema.name} = models.${schema.name};
var ${schema.name}Record = new ${schema.name}();
${schema.name}Record.id = RecordId;

// Increment test record id
RecordId = RecordId + 1;

// Associate children records to parent records
// Because one record has been created in ascending order,
// each child record should now contain all its children records.
#foreach ($attribute in $schema.attributes)
if (${attribute.subSchema}) {
	if ('${attribute.type}'.indexOf('Schema') > 0) {
			${schema.name}Record.${attribute.name} = ${attribute.realType.simpleName}Record;
	}
} else {
    ${schema.name}Record.${attribute.name} = ${attribute.testData};
}
#end
#end

// Post the top-level record of the graph
${resource.name}Record.save(function (err) {
  if (err) // ...
  console.log('meow');
});
