module.exports = function(app, models, mongoose){

  /**
   *  Index
   */
  app.get('/', function(req, res){

    //get all collections
    var modelNames = mongoose.connection.db.modelNames();       
    
      //render the index page
      res.render('index.jade', {
          locals: {
            title: 'Generated Collections',
            page: 'index',
            examples: modelNames
          }
      });
  });
  
  
  /**
   *  Listing
   */
  app.get('/list', function(req, res){

    //get all the examples
    models.examples.find({}, function(err, docs){
      
      //render the index page
      res.render('list.jade', {
          locals: {
            title: 'Node.js Express MVR Template',
            page: 'list',
            examples: docs
          }
      });

    });
  });


  /**
   *  View
   */
  app.get('/view/:id', function(req, res){
		
      var collection = mongoose.connection.db.collection(req.params.id);
      collection.find({}, function(err, docs){

	console.log('length=' + docs.length);

      //render the view path
      res.render('view.jade', {
          locals: {
            title: 'Records',
            page: 'view',
            collectionName: req.params.id,
            examples: docs
          }
      });
      });
  });

  /**
   *  Add View
   */
  app.get('/add', function(req, res){
     
      //render the add page
      res.render('add.jade', {
          locals: {
            title: 'Node.js Express MVR Template',
            page: 'add'
          }
      });
  });
  
  /**
   *  Add test doc
   */
   
  app.post('/posts', function(req, res){
     var now = new Date();
     var Post = models.examples;
     var post = new Post();
     post.name = req.param('doc');
     post.date = now;
     post.save(function(err) {
         console.log('error check');
         if(err) { throw err; }
         console.log('saved');
     });
     res.redirect('/list');
  });
    /**
   *  Add test doc
   */
   
  app.post('/delete', function(req, res){
     var id = req.param('id');
     models.examples.findById(id, function(err, doc){
         doc.remove();
         doc.save(function(err){
            console.log('error check');
            if(err) { throw err; }
            console.log('saved');
         });
         res.redirect('/list');
     });
  });
};