// Build mongoose schemas and test records
#set($recordId = 1)
module.exports = function(mongoose) {
  var models = {};
  var Schema = mongoose.Schema;
  var ObjectId = Schema.ObjectId;
  var RecordId = ${recordId};

// avoid forward referencing
#foreach ($resource in $list)
#set($recordId = $recordId + 1)
var ${resource.name}Schema = models.${resource.name};
var ${resource.name}Schema = new Schema();

// Create mongoose schema for each resource
${resource.name}Schema.add({
#foreach ($property in $resource.properties)   
	${property.name}: ${property.mongoType}, 
#end
     mdnId: Number,
     author: ObjectId 
});

// Add sub-schema instance to mongoose models but don't add duplicate defs
models.${resource.name} = mongoose.model('${resource.name}', ${resource.name}Schema);
#end
return models;
};
