module.exports = function(app, mongoose, models){

  /**
   *  Index listing of collections
   */
  app.get('/${schema}', function(req, res){

    //get all the examples
    var modelNames = mongoose.modelNames();
      
    res.render('models.jade', {
      title: modelNames.length + ' Generated Models for Schema ${schema}',
      schema: '${schema}',
      models:modelNames
    });
  });
  
  
  /**
   *  Listing
   */
  app.get('/${schema}/collections/:collection', function(req, res){
    
    mongoose.model(req.params.collection).find({}, function(err, docs){
      
      res.render('collections.jade', {
            title: docs.length + ' Test Records for ' + req.params.collection,
            schema: '${schema}',
            collectionName: req.params.collection,
            collections: docs
      });

    });

  });


  /**
   *  View
   */
  app.get('/${schema}/view/:collection:id', function(req, res){
    
    console.log("my schema=" + req.params.collection);
    
    mongoose.model(req.params.collection).findById(req.params.id, function(err, doc){
      
      //render the view page
      res.render('doc.jade', {
            title: 'My Test Record',
            doc: doc
      });

    });
  });

  /**
   *  Add View
   */
  app.get('/${schema}/add', function(req, res){
      
      //render the add page
      res.render('add.jade', {
          locals: {
            title: 'Node.js Express MVR Template',
            page: 'add'
          }
      });
  });
  
  /**
   *  Add test doc
   */
   
  app.post('/${schema}/posts', function(req, res){
     var now = new Date();
     var Post = models.examples;
     var post = new Post();
     post.name = req.param('doc');
     post.date = now;
     post.save(function(err) {
         console.log('error check');
         if(err) { throw err; }
         console.log('saved');
     });
     res.redirect('/list');
  });
  
  
   /**
   *  Add test doc
   */ 
  app.post('/${schema}/delete', function(req, res){
     var id = req.param('id');
     models.examples.findById(id, function(err, doc){
         doc.remove();
         doc.save(function(err){
            console.log('error check');
            if(err) { throw err; }
            console.log('saved');
         });
         res.redirect('/list');
     });
  });
};